.hero {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('../../assets/img/backgrounds/background_first_section.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    color: white;
    overflow: hidden;
    align-items: center;

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        text-align: center;
        gap: 12px;
        padding-top: 100px;
        width: 100%;
        max-width: 1440px;

        p {
            margin: 0;
        }

        .job {
            font-family: 'Fira Code', sans-serif;
            font-weight: 400;
            font-size: 40px;
            line-height: 40px;
        }

        .name {
            font-family: 'Karla', sans-serif;
            font-weight: 700;
            font-size: 128px;
            line-height: 128px;
        }

        .buttons {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            gap: 48px;

            .btn-primary {
                width: 172px;
            }

            .btn-secondary {
                width: 143px;
            }

            .btn-primary,
            .btn-secondary {
                background: transparent;
                border: 1px solid white;
                color: white;
                cursor: pointer;
                height: 48px;
                border-radius: 100px;
                font-family: 'Karla', sans-serif;
                font-size: 18px;
                line-height: 48px;
                overflow: hidden;
                position: relative;
                transition: all 0.3s ease;
            }

            .btn-primary:hover,
            .btn-secondary:hover {
                border-color: rgba(61, 207, 182, 1);
                color: rgba(61, 207, 182, 1);
            }

            .btn-primary span,
            .btn-secondary span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                white-space: nowrap;
                transition: transform 0.3s ease;
            }

            .btn-primary:hover span,
            .btn-secondary:hover span {
                animation: scrollLoop 3s linear infinite;
            }

            @keyframes scrollLoop {
                0% {
                    transform: translate(-50%, -50%) translateX(0);
                    visibility: visible;
                }

                49% {
                    transform: translate(-50%, -50%) translateX(-130%);
                    visibility: hidden;
                }

                50% {
                    transform: translate(-50%, -50%) translateX(130%);
                    visibility: hidden;
                }

                51% {
                    visibility: visible;
                }

                100% {
                    transform: translate(-50%, -50%) translateX(0);
                    visibility: visible;
                }
            }
        }
    }

    .bottom-section-hero-component {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        max-width: 1440px;
        width: 100%;

        .scroll-icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            margin-left: 96px;
            margin-top: auto;

            .scroll-arrow-container {
                width: 30px;
                height: 48px;
                border: 1px solid rgba(61, 207, 182, 1);
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
            }

            .scroll-arrow {
                width: 2px;
                height: 12px;
                background-color: white;
                animation: arrowBounce 1s infinite ease-in-out;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: 45%;
                    left: 50%;
                    transform: translateX(-50%) rotate(225deg);
                    width: 6px;
                    height: 6px;
                    border-left: 2px solid white;
                    border-top: 2px solid white;
                }
            }

            @keyframes arrowBounce {

                0%,
                100% {
                    transform: translateY(0);
                }

                50% {
                    transform: translateY(5px);
                }
            }
        }

        .social-links {
            width: 32px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            padding-right: 96px;

            .rotated-mail {
                display: flex;
                align-items: center;
                transform: rotate(-90deg);
                gap: 50px;

                a {
                    font-size: 18px;
                    font-family: 'Karla', sans-serif;
                    color: white;
                    text-decoration: none;

                    &:hover {
                        color: rgba(61, 207, 182, 1);
                    }
                }

                .mail-button img {
                    transition: all 0.3s;
                }

                .mail-button img:hover {
                    transform: scale(1.1);
                }
            }

            .social-icon {
                width: 44px;

                img {
                    transition: all 0.3s;
                }

                &.github img:hover {
                    content: url('../../assets/img/icons/github_icon_hover.svg');
                }

                &.linkedin img:hover {
                    content: url('../../assets/img/icons/linkedin_icon_hover.svg');
                }
            }
        }
    }

    .hero-marquee {
        position: relative;
        width: 100%;
        max-width: 1920px;
        height: 38px;
        background: rgba(255, 255, 255, 0.12);
        backdrop-filter: blur(5.3px);
        font-size: 22px;
        font-family: 'Karla', sans-serif;
        color: #00ffab;
        overflow: hidden;
        z-index: 999;
        padding: 12px 32px !important;
        transform-origin: left bottom;
        transform: rotate(-3deg);

        .marquee-track {
            display: flex;
            white-space: nowrap;
            animation: marqueeScroll 20s linear infinite;
        }

        .marquee-content {
            display: flex;
            align-items: center;
            gap: 64px;
            flex-shrink: 0;

            p {
                margin: 0;
                padding: 0 16px;
            }
        }
    }

    @keyframes marqueeScroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }
}

/* Media Queries */
@media (max-width: 1439px) {
    .hero .name {
        font-size: 100px !important;
    }
}

@media (max-width: 1280px) {
    .hero .logo {
        padding-right: 16px !important;
    }

    .hero .navbar-left-content {
        padding-left: 16px !important;
    }

    .hero .rotated-mail a {
        display: none !important;
    }
}

@media (max-width: 1024px) {
    .hero .hero-content {
        padding-top: 118px !important;
    }
}

@media (max-width: 845px) {
    .hero .name {
        font-size: 100px !important;
        line-height: 100px !important;
    }
}

@media (max-width: 768px) {
    .hero .navbar-left-content {
        display: none !important;
    }

    .hero .burger-menu {
        display: flex !important;
    }

    .hero .logo {
        visibility: hidden;
    }

    .hero .logo::before {
        content: 'CK';
        visibility: visible;
    }

    .hero .job {
        font-size: 24px !important;
    }

    .hero .name {
        font-size: 62px !important;
        line-height: 85px !important;
    }

    .hero .hero-content {
        padding-top: 0 !important;
        gap: 0 !important;
    }

    .hero .left-vector {
        height: 224px !important;
    }

    .hero .right-vector {
        height: 112px !important;
    }
}

@media (max-width: 430px) {
    .hero .name {
        font-size: 42px !important;
    }

    .hero .buttons {
        gap: 30px !important;
        width: 310px;
    }

    .hero .social-links {
        gap: 12px !important;
    }
}